@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    @apply m-0 p-0 box-border
}

::-webkit-scrollbar {
    @apply w-[0.5em]
}

::-webkit-scrollbar-track{
    @apply bg-gray-primary rounded-sm
}

::-webkit-scrollbar-thumb{
    @apply bg-dark-blue rounded-md
}

body{
    @apply overflow-x-hidden
}

.input-box{
    @apply relative flex flex-col my-[1.5em]
}

.input-field{
    @apply w-full h-[3.5em] text-base border-2 border-solid border-gray-primary rounded-lg ps-[1em] pe-[1.5em] outline-none
}

.input-field:hover{
    @apply border-dark-secondary cursor-pointer
}

.input-field:focus{
    @apply border-light-blue cursor-auto
}

.input-label{
    @apply absolute top-[1em] left-[1em] p-0 transition-all ease-in duration-300 bg-white
}
.input-field:-webkit-autofill {
    @apply bg-transparent shadow-none;
    -webkit-text-fill-color: inherit;
    transition: background-color 5000s ease-in-out 0s;
}

textarea:not(:placeholder-shown) ~ .input-label, .input-field:not(:placeholder-shown) ~ .input-label{
    @apply absolute top-[-0.5em] left-[0.75em] text-sm px-[0.5em] text-dark-primary
}

textarea:hover ~ .input-label, .input-field:hover ~ .input-label{
    @apply text-dark-secondary
}

textarea:focus ~ .input-label, .input-field:focus ~ .input-label{
    @apply absolute top-[-0.5em] left-[0.75em] text-sm px-[0.5em] text-light-blue
}

input[type="file"]{
    @apply hidden
}

.upload-button:hover{
    @apply bg-light-blue
}

.upload-button:hover .file-name{
    @apply text-light-primary
}

.upload-button:hover svg path{
    @apply fill-light-primary
}

.file-name{
    @apply  text-ellipsis max-w-full
}

.file-label{
    @apply mb-[0.5em]
}

.upload-button{
    @apply w-fit h-[3em] border-solid border-light-blue border-2 flex items-center justify-between rounded-lg px-[1em] text-light-blue space-x-2
}

.upload-button:active{
    @apply border-transparent bg-transparent
}

.upload-button:active .file-name{
    @apply text-light-blue
}

.upload-button:active svg path{
    @apply fill-light-blue
}


